*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	padding: 10px 0;
}

.btn {
	cursor: pointer;
}

.container {
	position: relative;
	height: 95%;
	width: 85%;
	box-shadow: 7px 7px 21px -5px rgba(66, 68, 90, 1);
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	border-radius: 10px;
	overflow: scroll;
	overflow-x: hidden;

	.menu {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 100%;

		.menu-btn {
			margin-left: 20px;
			padding: 10px 22px;
			border: none;
			border-radius: 5px;
		}
		.burger {
			padding: 0;
			background-color: #b84e5a;
			font-size: 30px;
			margin-left: auto;
		}
	}

	.header {
		position: relative;
		padding: 40px 20px;
		height: 180px;
		width: 100%;
		// width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		// align-content: center;
		border-radius: 10px 10px 0 0;
		background-image: linear-gradient(340deg, #0b5fe5 0%, #11eeee 100%);
		color: #e0d3d3;

		.interface {
			width: 100%;
			display: flex;
			justify-content: space-around;
			.todo-input {
				width: 100%;
				padding: 10px 20px;
				border: none;
				border-radius: 5px;
			}

			.btn-add {
				margin-left: 20px;
				padding: 10px 20px;
				border: none;
				border-radius: 5px;
			}
		}
	}

	.todo-list {
		// height: 100px;
		padding: 20px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.342);

		.erroer-div {
			padding: 20px;
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 5px;

			.error-info {
				color: rgb(206, 27, 27);
				font-size: 20px;
			}
		}

		.cell {
			// height: 100px;
			width: 95%;
			margin: 5px 0;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			background-color: #f0f0f0;

			.thing {
				width: 160px;
				margin: 10px 0;
				padding: 10px 10px;
				// border: 1px solid rgb(183, 142, 142);
				border-radius: 10px;
				color: #404040;
				background-color: #fff;
				overflow: hidden;
			}
			.tools {
				.tools-btn {
					padding: 10px 5px;
					background-color: #fff;
					color: #13bc1b;
					border-radius: 5px;
					border: none;
				}
			}
		}
	}

	.popup {
		display: none;
		// justify-content: center;
		// align-items: center;
		width: 82%;
		// height: 300px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(79, 82, 92);

		h3 {
			padding: 20px;
		}

		.popup-body {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
			width: 90%;
			padding: 10px;

			.popup-info {
				margin-bottom: 20px;
				color: #fff;
			}
			.popup-input {
				width: 100%;
				padding: 10px 20px;
				border: none;
				border-radius: 5px;
				margin: 10px 0;
			}

			.popup-btn-holder {
				width: 100%;
				margin: 20px 0px 20px 0px;
				display: flex;
				justify-content: space-around;

				.popup-btn {
					padding: 10px 10px;
					margin: 10px 0;
					border: none;
					border-radius: 5px;
					text-transform: uppercase;
					cursor: pointer;
					transition: color 0.3s, background-color 0.3s;
				}
			}
		}
	}

	.discription {
		position: relative;
		display: none;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
		position: fixed;
		padding: 10px 10px;
		width: 82%;
		// height: 400px;
		top: 50%;
		left: 50%;
		border-radius: 10px;
		border: 3px solid #b84e5a;
		transform: translate(-50%, -50%);
		background-color: #f0f0f0;
		overflow: scroll;
		overflow-x: hidden;
		z-index: 0;

		h3 {
			margin: 20px;
		}

		:nth-child(5) {
			margin: 0 0 15px 0;
		}

		.hero-paragraph-box {
			position: absolute;
			width: 100%;
			height: 100%;
			// top: 0;
			// left: 0;
			inset: 0;
			margin: auto;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			// transform: translate(-50%, -50%);

			.hero-paragraph {
				margin-top: 100px;
				opacity: 0.25;
				font-size: 700px;
				z-index: -1;
			}
		}

		// p {
		// 	padding: 3px;
		// }

		.discription-body {
			margin: 10px 0;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: left;
			flex-wrap: wrap;
			width: 90%;
			// border: 1px solid green;

			p {
				padding: 5px 5px 0 5px;
				text-indent: -30px;
				margin-bottom: 20px;

				button {
					margin: 0 0 0 15px;
					pointer-events: none;
				}
			}

			.discription-btn-holder {
				width: 100%;
				margin: 20px 0px 20px 0px;
				display: flex;
				justify-content: end;

				.discription-btn {
					padding: 10px 30px;
					margin: 10px 0 0 10px;
					color: #f0f0f0;
					background-color: #b84e5a;
					border: none;
					border-radius: 5px;
					text-transform: uppercase;
					cursor: pointer;
					transition: color 0.3s, background-color 0.3s;
				}
			}
		}
	}

	.completed {
		font-size: 12px;
		text-decoration: line-through;
		font-style: italic;
		background-image: red;
	}

	.burger-active {
		display: flex;
	}
}

@media (min-width: 1024px) {
	.container {
		width: 800px;

		.todo-list {
			.cell {
				.thing {
					width: 260px;
				}
			}
		}
		.popup {
			width: 800px;
		}
		.discription {
			width: 800px;
		}
	}
}
